<!-- <div>{{ message }} </div> -->
<form *ngIf="!add" [formGroup]='formulario' (ngSubmit)="create_task(titulo.value, des.value, encargado.value, $event)">
    <label>Titulo:<br>
        <input type="text" #titulo formControlName="titulo" id="nombre" placeholder="Introduce un titulo a la tarea" required/>
    </label><br>
    <div class="error">
        <span *ngIf="this.formulario.get('titulo')?.errors?.['required']">
        (El titulo no puede quedar vacío)
        </span>          
    </div><br>
    <label>Descripción de la tarea:<br>
        <input type="text" #des formControlName="des" id="des" placeholder="Introduce una breve descripcion"><br>
    </label><br>
    <label>Encargado:<br>
        <input type="text" #encargado id="encargado" formControlName="encargado" placeholder="¿Quién se encargará hacer esta tarea?" required/>
    </label>
    <div class="error">
        <span *ngIf="this.formulario.get('encargado')?.errors?.['required']">
        (No puede quedar vacío)
        </span>
    </div><br>
    <button class="enviar" type="submit">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg><p class="sign">Crear</p>
    </button>
</form>

      
