
<div class="alert alert-primary" *ngIf="message!=''">{{message}}</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Encargado</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of list_tasks">
                <td scope="row">{{task.encargado}}</td>        
                <td scope="row">{{task.title}}</td>
                <td *ngIf="task.descripcion !=''; else empty"  scope="row">{{getdesc(task.descripcion)}}</td>
                <ng-template #empty><td>---</td></ng-template>
                <td scope="row">
                    <a class="btn btn-outline-primary btn_edit_delete" [routerLink]="['/edit/', task.id]" routerLinkActive="active">
                        <i class="bi bi-pencil-fill" style="color: #4180de"></i>
                    </a>
                    <button (click)="delete(task.id)" class="btn btn-outline-danger btn_edit_delete">
                        <i class="bi bi-trash3-fill" style="color:#e74545"></i>
                    </button>
                </td>
        </tr>
</tbody>
</table>




