
<div class="alert alert-primary" *ngIf="message!=''">{{message}}</div>
<table style="border: 1px solid black">
    <tbody>
        <tr>
            <th>Encargado</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Opciones</th>
        </tr>
        <tr *ngFor="let task of list_tasks">
                <td>{{task.encargado}}</td>        
                <td>{{task.title}}</td>
                <td *ngIf="task.descripcion !=''; else empty" >{{getdesc(task.descripcion)}}</td>
                <ng-template #empty><td>---</td></ng-template>
                <td>
                    <a [routerLink]="['/edit/', task.id]" routerLinkActive="active">
                        <i class="bi bi-pencil-fill" style="color:blue"></i>
                    </a>
                    <button (click)="delete(task.id)" class="dropdown-item" style="color:red;">
                        <i class="bi bi-trash3-fill" style="color:red"></i>
                    </button>
                </td>
        </tr>
</tbody>
</table>




